@using System.Collections
@using System.Drawing
@using Jmelosegui.Mvc.GoogleMap
@using PTurismo.Helpers
@using System.Web.Script.Serialization
@using PTurismo.Models
@model PTurismo.ViewModels.MapaViewModel

@Scripts.Render("~/Scripts/script.js")

@{
    ViewBag.Title = "Home Page";
}

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Help - Ajuda</h3>
            </div>
            <div class="modal-body">
                <img src="~/Content/Images/Logo/Logo1.png" />
                <img src="~/Content/Images/Logo/Logo2.png" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--INICIO DA PAGINA-->
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-5 text-right">
        <div class="thumbnail">
            <div class="col-md-12">
                <!--MUDAR IMAGEM-->
                <img class="img-poi" src="~/Content/Images/Logo/Logo1.png" />
            </div>
            <div class="col-md-12">
                <!-- CONTEUDO A ESCREVER -->
                <img id="ImagemPath" class="img-poi" src="" />
            </div>
        </div>
    </div>
    <div class="col-md-5 text-right">
        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#helpModal"><span class="glyphicon glyphicon-question-sign black-color"></span></button>
    </div>
</div>

<div class="row row-principal">
    <div id="mapa-margin" class="col-md-5">
        @(Html.GoogleMap()
        .Name("map")
        .Height(600)
        .ApiKey("AIzaSyAYC419uGMGyG-Lhc5gPRxzRm1q2Uu1b-4")
        .Center(c => c.Latitude(41.130325).Longitude(-7.097716))
        .FitToMarkersBounds((bool)ViewData["FitToMarkersBounds"])

        .Draggable((bool)ViewData["draggable"])
        .Markers(m =>
        {
            foreach (var p in Model.Pois)
            {
                if (p.CategoriaID.Equals(1))
                {
                    m.Add()
                        .Latitude(p.latitude)
                        .Longitude(p.longitude)
                        .Icon("~/Content/Images/Icones/Igreja.png", new Size(30, 30), new Point(0, 0), new Point(30, 30));
                }
                else if (p.CategoriaID.Equals(3))
                {
                    m.Add()
                       .Latitude(p.latitude)
                       .Longitude(p.longitude)
                       .Icon("~/Content/Images/Icones/Capela.png", new Size(30, 30), new Point(0, 0), new Point(30, 30));
                }
                else if (p.CategoriaID.Equals(5))
                {
                    m.Add()
                        .Latitude(p.latitude)
                        .Longitude(p.longitude)
                        .Icon("~/Content/Images/Icones/Santuario.png", new Size(30, 30), new Point(0, 0), new Point(30, 30));
                }
                else if (p.CategoriaID.Equals(4))
                {
                    m.Add()
                        .Latitude(p.latitude)
                        .Longitude(p.longitude)
                        .Icon("~/Content/Images/Icones/Mosteiro.png", new Size(30, 30), new Point(0, 0), new Point(30, 30));
                }
                else if (p.CategoriaID.Equals(6))
                {
                    m.Add()
                        .Latitude(p.latitude)
                        .Longitude(p.longitude)
                        .Icon("~/Content/Images/Icones/Basilica.png", new Size(30, 30), new Point(0, 0), new Point(30, 30));
                }
                else if (p.CategoriaID.Equals(7))
                {
                    m.Add()
                        .Latitude(p.latitude)
                        .Longitude(p.longitude)
                        .Icon("~/Content/Images/Icones/Museu.png", new Size(30, 30), new Point(0, 0), new Point(30, 30));
                }
                else if (p.CategoriaID.Equals(8))
                {
                    m.Add()
                        .Latitude(p.latitude)
                        .Longitude(p.longitude)
                        .Icon("~/Content/Images/Icones/Castelo.png", new Size(30, 30), new Point(0, 0), new Point(30, 30));
                }
                else if (p.CategoriaID.Equals(2))
                {
                    m.Add()
                        .Latitude(p.latitude)
                        .Longitude(p.longitude)
                        .Icon("~/Content/Images/Icones/Catedral.png", new Size(30, 30), new Point(0, 0), new Point(30, 30));
                }
                else
                {
                    m.Add()
                        .Latitude(p.latitude)
                        .Longitude(p.longitude);
                }
            }
        })
        .MarkerEvents(events => events.OnMarkerClick("markerClick"))
        )
    </div>

    <div id="dataShow" class="col-md-7">
        <div class="row">
            <h1 id="NomePoi">NOME DO POI</h1>
            <h3 id="Categoria">CATEGORIA</h3>
            <h4 id="Descricao">O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.</h4>
        </div>
        <div class="row bottom-left">
            <div class="col-xs-6 col-md-6 col-lg-6">
                <div class="thumbnail">
                    <div class="col-md-4">
                        <!--MUDAR IMAGEM-->
                        <img id="ImagemEle1" class="img-thumbnail" src="http://i.imgur.com/Hw1dyoP.png" alt="Generic placeholder thumbnail" />
                    </div>
                    <div class="col-md-8">
                       <h4 id="NomeEle1" ></h4>
                       <h5 id="DescricaoEle1"></h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
                <div class="thumbnail">
                    <div class="col-md-4">
                         <!--MUDAR IMAGEM-->
                        <img id="ImagemEle2" class="img-thumbnail" src="http://i.imgur.com/Hw1dyoP.png" alt="Generic placeholder thumbnail" />
                    </div>
                    <div class="col-md-8">
                        <h4 id="NomeEle2"></h4>
                        <h5 id="DescricaoEle2"></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottom">
            <!-- PASSAR ID new { id = item.PoiID } BY MODEL -->
            <button class="btn btn-lg btn-success" id="btnDetalhes">
                Conhecer Melhor <span class="glyphicon glyphicon-triangle-right"></span></button>
        </div>
    </div>
</div>
<div id="screenSaverForm" style="background-image: url(../../Content/Images/BodyBackground/screensaver.png); position: absolute; width: 100%; height:100%; left:0px; top: 0px; right: 0px; bottom: 0px; z-index:9999; display: none;"></div>
@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
    <script type="text/javascript">

        var pois = @JavaScriptConvert.SerializeObject(@Model.Pois);
        var categorias = @JavaScriptConvert.SerializeObject(@Model.Categorias);
        var elementos = @JavaScriptConvert.SerializeObject(@Model.Elementos);
        var galeriasPoi = @JavaScriptConvert.SerializeObject(Model.GaleriaPois);
        var filePathPoi = @JavaScriptConvert.SerializeObject(@Model.FilePathPois);
        var poiId;
        
        function getElementos(elementos, id) {
            console.log(id);
            var eles = new Array();
            for (var i = 0; i < elementos.length; i++) {
                var obj = elementos[i];
                for (var key in obj) {
                    var attrName = key;
                    var attrValue = obj[key];

                    if (attrName === "PoiID" && attrValue == id) {

                        eles.push(elementos[i]);
                        console.log(eles[i]);
                    }
                }
            }
            return eles;
        }

        function getFilePathPoi(filePathPoi, galeriasPoi, id) {

            var files = new Array();
            var galerias = new Array();
            galerias = getGaleriasPoi(galeriasPoi, id);

            if (galerias.length > 0) {
                for (var i = 0; i < galerias.length; i++) {
                    var obj = galerias[i];
                    // console.log(obj);
                    for (var key in obj) {
                        var attrName = key;
                        var attrValue = obj[key];

                        if (attrName === "GaleriaPoiID") {
                            // console.log("attrValue =" + attrValue);
                            // console.log("attrName : " + attrName);
                            for (var j = 0; j < filePathPoi.length; j++) {
                                var objt = filePathPoi[j];


                                for (var k in objt) {
                                    var attName = k;
                                    var attValue = objt[k];
                                    //console.log("Nome: " + attName);
                                    //console.log("attValue = " + attValue);
                                    // console.log("attrValue =" + attrValue);

                                    if (attName === "GaleriaPoiID" && attrValue == attValue) {
                                        // console.log(filePathPoi[j]);
                                        files.push(filePathPoi[i]);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            return files;
        }

        function getGaleriasPoi(galeriasPoi, id) {

            var galerias = new Array();
            for (var i = 0; i < galeriasPoi.length; i++) {
                var obj = galeriasPoi[i];
                for (var key in obj) {
                    var attrName = key;
                    var attrValue = obj[key];

                    if (attrName === "PoiID" && attrValue == id) {

                        galerias.push(galeriasPoi[i]);
                        //console.log(galeriasPoi[i]);
                    }
                }
            }
            return galerias;
        }

        $(document)
            .ready(function() {

                $('#btnDetalhes')
                    
                    .click(function() {
                       
                        var baseUrl = '@Url.Content("~")';
                       
                        window.location.href = baseUrl + "Home/Poi/" + poiId;
                    });
            });

        function markerClick(args) {

            if (args.eventName === 'click') {
                
                var id = parseInt(args.id) + 1;
                poiId = id;
                var eles = new Array();
                try {
                    eles = getElementos(elementos, id);
                    console.log("AQUI");
                    console.log(eles[0]);
                } catch (err) {
                    $('#Elemento').html('<div></div>');
                }

                var catID = pois[args.id].CategoriaID;

                $('#NomePoi').html(pois[args.id].nome);
                $('#Descricao').html(pois[args.id].descricao);
                $('#Categoria').html(categorias[catID - 1].nome);
                var cenas = pois[args.id].ImagemPath;
                console.log(pois[args.id].ImagemPath)
                var path = "/Content/Images/GaleriaPoi/Imagem/" + cenas;
                $('#ImagemPath').attr( "src", path);
               
                
                if (eles.length >= 1 && eles.length <= 2) {
                    console.log("Fora" + eles.length);
                    for (var K = 0; K < eles.length; K++) {
                        //TODO mostrar cada elemento do poi
                        var nomeEle = eles[K].nome;
                        var descricaoEle = eles[K].descricao;
                        var ImagemEle = "/Content/Images/GaleriaElemento/Imagem/" + eles[K].ImagemElemento;
                        console.log(eles[K].ImagemElemento)
                        if(K===0){
                            $("#NomeEle1").html(nomeEle);
                            $("#DescricaoEle1").html(descricaoEle);
                            $("#ImagemEle1").attr("src", ImagemEle);
                        }else{
                            $("#NomeEle2").html(nomeEle);
                            $("#DescricaoEle2").html(descricaoEle);
                            $("#ImagemEle2").attr("src", ImagemEle)
                        }
                    }
                }
                var ficheiros = new Array();
                ficheiros = getFilePathPoi(filePathPoi, galeriasPoi, id);
                if (ficheiros.length > 0) {
                    console.log(ficheiros[0]);//TODO mostrar todos os ficheiros;
                    var ficheiro = "/Content/Images/" + ficheiros[0].FileName;
                    $('#my_image').attr("src", ficheiro);
                } else {
                    $('#my_image').attr("src", "/Content/Images/f76e268d-ee7f-4a65-bf18-ad6d5fc3f6c0.jpeg");
                }
            }

        }
        //JQUERY PARA MODAL HELP
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        //REDIRECT
       /*
        $('#buttonid').click(function () {
            document.location = 'Url.Action("Poi","Home", new { id =})';
        });*/

        var mousetimeout;
        var screensaver_active = false;
        var idletime = 5;

        var screenSaver = $("#screenSaverForm");
        var formDiv = $("#bodyForm");

        function show_screensaver() {
            formDiv.fadeOut(100);
            screenSaver.fadeIn(900);
            screensaver_active = true;
        }

        function stop_screensaver() {
            screenSaver.fadeOut(100);
            formDiv.fadeIn(900);
            screensaver_active = false;
        }

        $(document).mousemove(function () {
            clearTimeout(mousetimeout);

            if (screensaver_active) {
                stop_screensaver();
            }

            mousetimeout = setTimeout(function () {
                show_screensaver();
            }, 1000 * idletime); // 5 secs          
        });

    </script>
}