@using Jmelosegui.Mvc.GoogleMap
@using PTurismo.Helpers
@using System.Web.Script.Serialization;
@model PTurismo.ViewModels.MapaViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="container-fluid">
        <br />
        <div class="col-md-6">
            @(Html.GoogleMap()
              .Name("map")
              .Height(600)
              .ApiKey("AIzaSyAYC419uGMGyG-Lhc5gPRxzRm1q2Uu1b-4")
              .Center(c => c.Latitude(41.130325).Longitude(-7.097716))
              .FitToMarkersBounds((bool)ViewData["FitToMarkersBounds"])
              
              .Draggable((bool)ViewData["draggable"])
              .Markers(m =>
              {

                  foreach (var p in Model.Pois)
                  {
                      m.Add().Latitude(p.latitude).Longitude(p.longitude);

                  }
              })
              .MarkerEvents(events => events.OnMarkerClick("markerClick"))
            )
        </div>
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="~/Content/Images/Capture.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 id="NomePoi" class="media-heading">Carregar nos markups do mapa para interagir</h4>
                    <div id="Categoria"></div>
                    <div id="Descricao"></div>
                    <div id="Elemento"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
    <script type="text/javascript">
        var pois = @JavaScriptConvert.SerializeObject(@Model.Pois);
        var categorias = @JavaScriptConvert.SerializeObject(@Model.Categorias);
        var elementos = @JavaScriptConvert.SerializeObject(@Model.Elementos);
        elem = JSON.parse(elementos);
        console.log(elementos[0]);
        
        function markerClick(args) {

            if (args.eventName === 'click') {
               
                try {
                    
                    $.each(elem,
                        function(i, v) {
                            if (v.PoiID.search(args.id) != -1) {
                                eles.add(v);
                                console.log(v);
                            }
                        });
                } catch (err) {
                    $('#Elemento').html('<div></div>');
                }
               
                var catID = pois[args.id].CategoriaID;
                
                $('#Categoria').html('<h2>'+categorias[catID-1].nome+'</h2>');
                $('#NomePoi').html('<h1>'+pois[args.id].nome+'</h1>');
                $('#Descricao').html('<h4>'+pois[args.id].descricao+'</h4>');
                
               //alert(pois[args.id].nome);

 
               /* if (eles!==null) {
                    eles = JSON.parse(eles);
                    $.each(eles,
                        function(i, v) {
                            $('#Elemento').html(v.nome);
                        });
                } */
               

                //alert(pois[args.id].nome);

            }

        }


    </script>
}