@using System.Collections
@using Jmelosegui.Mvc.GoogleMap
@using PTurismo.Helpers
@using System.Web.Script.Serialization
@using PTurismo.Models
@model PTurismo.ViewModels.MapaViewModel
@Scripts.Render("~/Scripts/script.js")

@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-6 text-right">
            <img src="~/Content/Images/Logo/Logo1.png"/>
            <img src="~/Content/Images/Logo/Logo2.png"/>
        </div>
        <div class="col-md-6 text-right">
            <img src="~/Content/Images/Helper/help.png" width="50px" height="50px" />
        </div>
    </div>


    <div id="rowprincipal" class="row">
        <div id="mapafixe" class="col-md-5">
            @(Html.GoogleMap()
            .Name("map")
            .Height(600)
            .ApiKey("AIzaSyAYC419uGMGyG-Lhc5gPRxzRm1q2Uu1b-4")
            .Center(c => c.Latitude(41.130325).Longitude(-7.097716))
            .FitToMarkersBounds((bool)ViewData["FitToMarkersBounds"])

            .Draggable((bool)ViewData["draggable"])
            .Markers(m =>
            {
                foreach (var p in Model.Pois)
                {
                    m.Add().Latitude(p.latitude).Longitude(p.longitude);
                }
            })
            .MarkerEvents(events => events.OnMarkerClick("markerClick"))
            )
        </div>
        <div id="dataShow" class="col-md-7">
            <div class="row">
                <h1 id="NomePoi" />
            </div>
            <div class="row">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/Content/Images/Capture.png" alt="..." />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 id="NomePoi" class="media-heading">Clique no mapa para interagir</h4>
                        <div id="Categoria"></div>

                        

                        <div id="Descricao"></div>
                        <div id="Elemento">
                            @foreach (var g in Model.GaleriaPois)
                            {
                                try
                                {
                                    ICollection<FilePathPoi> fps = g.FilePaths;
                                    //TODO verificar como se acede a isto
                                }
                                catch (Exception)
                                {

                                }
                            }
                        </div>
                        <div>
                            <img id="my_image" src="" alt="Imagem" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bottom">
                <button class="btn btn-warning">NEXT</button>
            </div>


        </div>


    </div>



@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
    <script type="text/javascript">

        var pois = @JavaScriptConvert.SerializeObject(@Model.Pois);
        var categorias = @JavaScriptConvert.SerializeObject(@Model.Categorias);
        var elementos = @JavaScriptConvert.SerializeObject(@Model.Elementos);
        var galeraisPoi =@JavaScriptConvert.SerializeObject(Model.GaleriaPois);
        var filePathPoi =@JavaScriptConvert.SerializeObject(@Model.FilePathPois);

        function getElementos() {

            var eles = new Array();
            for (var i = 0; i < elementos.length; i++) {
                var obj = elementos[i];
                for (var key in obj) {
                    var attrName = key;
                    var attrValue = obj[key];

                    if (attrName === "PoiID" && attrValue == args.id) {

                        eles.push(elementos[i]);
                        console.log(eles[i]);
                    }
                }
            }
            return eles;
        }
        function markerClick(args) {

            if (args.eventName === 'click') {
                var eles = new Array();
                try {
                    eles = getElementos();

                } catch (err) {
                    //$('#Elemento').html('<div></div>');
                }

                var catID = pois[args.id].CategoriaID;

                $('#NomePoi').html(pois[args.id].nome);
                $('#Descricao').html(pois[args.id].descricao);
                $('#Categoria').html(categorias[catID-1].nome);

                if (eles.length>1) {

                    for (var j = 0; j < eles.length; j++) {
                       console.log(j);
                       //TODO mostrar cada elemento do poi
                    }
                }
                var ficheiro = "~/Content/Images/" + filePathPoi[0].FileName;
                var treta = '<img src=\"'+ficheiro+'\">';
                console.log(treta);
                $('#my_image').attr("src", "/Content/Images/Capture.png");
                //alert(pois[args.id].nome);

            }

        }

    </script>
}