@using System.Collections
@using System.Drawing
@using Jmelosegui.Mvc.GoogleMap
@using PTurismo.Helpers
@using System.Web.Script.Serialization
@using PTurismo.Models
@model PTurismo.ViewModels.PoiViewModel

@Scripts.Render("~/Scripts/script.js")

@{
    ViewBag.Title = "Poi";
}

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Help - Ajuda</h3>
            </div>
            <div class="modal-body">
                <img src="~/Content/Images/Logo/Logo1.png" />
                <img src="~/Content/Images/Logo/Logo2.png" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--INICIO DA PAGINA-->
<div class="row">
    <div class="col-md-offset-4">
        <button class="btn btn-sm btn-danger" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");"><span class="glyphicon glyphicon-arrow-left"></span> Voltar ao Inicio</button>
        <button class="btn btn-sm btn-success" onclick="@("window.location.href='" + @Url.Action("Poi", "Home", new { id = Model.Poi.PoiID }) + "'");"><span class="glyphicon glyphicon-repeat"></span> Voltar ao Poi</button>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-5 text-right">
        <div class="thumbnail">
            <div class="col-md-12">
                <!--MUDAR IMAGEM-->
                <img class="img-poi" src="~/Content/Images/Logo/Logo1.png" />
            </div>
            <div class="col-md-12">
                <!-- CONTEUDO A ESCREVER -->
                <img id="ImagemPath" class="img-poi" src="~/Content/Images/GaleriaPoi/Imagem/@Model.Poi.ImagemPath" />
            </div>
        </div>
    </div>
    <div class="col-md-5 text-right">
        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#helpModal"><span class="glyphicon glyphicon-question-sign black-color"></span></button>
    </div>
</div>

<div class="row row-poi">
    <div id="mapa-margin" class="col-md-4">
        <div class="row">
            @if (Model.Poi.categoria.genero.Equals("Masculino"))
            {
                <h3 id="Genero">Descobrir cada pormenor deste @Model.Poi.categoria.nome</h3>
            }
            else
            {
                <h3 id="Genero">Descobrir cada pormenor desta @Model.Poi.categoria.nome</h3>
            }
        </div>

        <div class="row row-scroll">
           @foreach (var item in Model.Elementos)
           {
               <a href="@Url.Action("Poi", new {elementoId = item.ElementoID })" class="thumbnail">
                <div class="col-md-4">
                    <!--MUDAR IMAGEM-->
                    <img id="ImagemEle1" class="img-thumbnail" src="~/Content/Images/GaleriaElemento/Imagem/@item.ImagemElemento" alt="Generic placeholder thumbnail" />
                </div>
                <div class="col-md-8">
                    <h4>Nome: </h4>
                    <h5>@item.nome</h5>
                    <h6>Descrição: @item.descricao</h6>
                </div>
            </a>
           }
         </div>
    </div>

    <div id="dataShow" class="col-md-8">
        <div class="row">
            <h1 id="NomePoi">@Model.Poi.nome</h1>
        </div>
        <div class="row">
            @if (Model.ElementoSelecionado != null)
            {
                <!--SE FOR UM ELEMENTO-->
            <!--DESCRICAO-->
                <div id="showDescricaoElemento">
                    <h2 id="Descricao">@Model.ElementoSelecionado.descricao</h2>
                </div>
            <!--CAROUSEL-->
                <div id="showCarouselElemento" style="display: none;">
                    <div id="myCarouselElemento" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">

                            <li data-target="#myCarouselElemento" data-slide-to="0" class="active"></li>
                            @foreach (var item in Model.ElementoSelecionado.galeriaElemento)
                            {
                                <li data-target="#myCarouselElemento" data-slide-to="@item.FilePathElementos.First().FilePathElementoID"></li>
                            }
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/Content/Images/GaleriaElemento/Imagem/@Model.ElementoSelecionado.ImagemElemento" width="460" height="345">
                            </div>
                            @foreach (var item in Model.ElementoSelecionado.galeriaElemento)
                            {
                                <div class="item">
                                    <img src="~/Content/Images/GaleriaElemento/@item.FilePathElementos.First().FileName" width="460" height="345">
                                </div>
                            }
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarouselElemento" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarouselElemento" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <!--FIM CAROUSEL-->
                </div>
            <!--VIDEO-->
                <div id="showVideoElemento" align="center" class="embed-responsive embed-responsive-16by9" style="display: none">
                    @foreach (var item in Model.ElementoSelecionado.galeriaElemento)
                    {
                        if (item.FilePathElementos.First().FileType == FileType.Video)
                        {
                            <video id="myvidElemento" controls class="embed-responsive-item">
                                <source src="~/Content/Videos/GaleriaElemento/@item.FilePathElementos.First().FileName" type=video/mp4>
                            </video>
                        }
                    }
                </div>
                <div id="showAudioElemento" align="center" style="display:none">
                    <div class="row">
                        <h3>Por favor coloque os auriculares para ouvir a descrição.</h3>
                    </div>
                    <div class="row">
                        <img src="~/Content/Audio/audio.png" alt="Audio" width="250" height="250" />
                    </div>
                    <div class="row">
                        <article class="audio">
                            @foreach (var item in Model.ElementoSelecionado.galeriaElemento)
                            {
                                if (item.FilePathElementos.First().FileType == FileType.Audio)
                                {
                                    <audio id="myaudioElemento" controls>
                                        <source src="~/Content/Audio/GaleriaElemento/@item.FilePathElementos.First().FileName" type="audio/mp3" />
                                        <p>Your browser does not support HTML 5 audio element</p>
                                    </audio>
                                }
                            }
                         </article>
                    </div>
                    <div class="row">
                        <h3>Obrigado.</h3>
                    </div>
                </div>
            }
            else
            {
                <!--DESCRICAO-->
                <div id="showDescricao">
                    <h2 id="Descricao">@Model.Poi.descricao</h2>
                </div>
            <!--CAROUSEL-->
                <div id="showCarousel" style="display: none;">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            @foreach (var item in Model.Poi.galeriaPoi)
                            {
                                if (item.FilePaths.First().FileType == FileType.Imagem)
                                {
                                    <li data-target="#myCarousel" data-slide-to="@item.FilePaths.First().FilePathPoiID"></li>
                                }
                            }
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/Content/Images/GaleriaPoi/Imagem/@Model.Poi.ImagemPath" width="460" height="345">
                            </div>
                            @foreach (var item in Model.Poi.galeriaPoi)
                            {
                                <div class="item">
                                    <img src="~/Content/Images/GaleriaPoi/@item.FilePaths.First().FileName" width="460" height="345">
                                </div>
                            }
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <!--FIM CAROUSEL-->
                </div>
            <!--VIDEO-->
                <div id="showVideo" align="center" class="embed-responsive embed-responsive-16by9" style="display: none">
                    @foreach (var item in Model.Poi.galeriaPoi)
                    {
                        if (item.FilePaths.First().FileType == FileType.Video)
                        {
                            <video id="myvidElemento" controls class="embed-responsive-item">
                                <source src="~/Content/Videos/GaleriaPoi/@item.FilePaths.First().FileName" type=video/mp4>
                            </video>
                        }
                    }
                </div>

                <div id="showAudio" align="center" style="display:none">
                    <div class="row">
                        <h3>Por favor coloque os auriculares para ouvir a descrição.</h3>
                    </div>
                    <div class="row">
                        <img src="~/Content/Audio/audio.png" alt="Audio" width="250" height="250" />
                    </div>
                    <div class="row">
                        <article class="audio">
                            @foreach (var item in Model.Poi.galeriaPoi)
                            {
                                if (item.FilePaths.First().FileType == FileType.Audio)
                                {
                                    <audio id="myaudio" controls>
                                        <source src="~/Content/Audio/GaleriaPoi/@item.FilePaths.First().FileName" type="audio/mp3" />
                                        <p>Your browser does not support HTML 5 audio element</p>
                                    </audio>
                                }
                            }
                        </article>
                    </div>
                    <div class="row">
                        <h3>Obrigado.</h3>
                    </div>
                </div>
            }
        </div>
        <div class="row bottom-poi">

            @if (Model.ElementoSelecionado != null)
            {
                <div class="col-md-3">
                    <button id="btnDescricaoElemento" onclick="pauseAudioElemento(), pauseVidElemento()" class="btn btn-lg btn-primary buttons-poi">Descrição <span class="glyphicon glyphicon-modal-window"></span></button>
                </div>
                <div class="col-md-3">
                    <button id="btnFotografiasElemento" onclick="pauseAudioElemento(), pauseVidElemento()" class="btn btn-lg btn-primary buttons-poi">Fotografias <span class="glyphicon glyphicon-camera"></span></button>
                </div>
                <div class="col-md-3">
                    <button id="btnAudioElemento" onclick="pauseVidElemento()" class="btn btn-lg btn-primary buttons-poi">Áudio <span class="glyphicon glyphicon-music"></span></button>
                </div>
                <div class="col-md-3">
                    <button id="btnVideoElemento" onclick="pauseAudioElemento()" class="btn btn-lg btn-primary buttons-poi">Videos <span class="glyphicon glyphicon-facetime-video"></span></button>
                </div>
            }
            else
            {
                <div class="col-md-3">
                    <button id="btnDescricao" onclick="pauseAudio(), pauseVid()" class="btn btn-lg btn-success buttons-poi">Descrição <span class="glyphicon glyphicon-modal-window"></span></button>
                </div>
                <div class="col-md-3">
                    <button id="btnFotografias" onclick="pauseAudio(), pauseVid()" class="btn btn-lg btn-success buttons-poi">Fotografias <span class="glyphicon glyphicon-camera"></span></button>
                </div>
                <div class="col-md-3">
                    <button id="btnAudio" onclick="pauseVid()" class="btn btn-lg btn-success buttons-poi">Áudio <span class="glyphicon glyphicon-music"></span></button>
                </div>
                <div class="col-md-3">
                    <button id="btnVideo" onclick="pauseAudio()" class="btn btn-lg btn-success buttons-poi">Videos <span class="glyphicon glyphicon-facetime-video"></span></button>
                </div>
            }
        </div>
    </div>
</div>
<div id="screenSaverForm" style="background-image: url(../../Content/Images/BodyBackground/screensaver.png); position: absolute; width: 100%; height:100%; left:0px; top: 0px; right: 0px; bottom: 0px; z-index:9999; display: none;"></div>

@section scripts
{
    <script type="text/javascript">
        /*
        $.ajax({
            type: "GET",
            url: "Home/Poi/1",
            data: "",
            success: function (html) {
                $("#myAccountDiv").html(html);
            }
        });
        */
        //JQUERY PARA MODAL HELP
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
        //FIM

        //JQUERY BUTTONS

        $('#btnDescricao').click(function (e) {
            $("#showDescricao").delay(100).fadeIn(100);
            $("#showCarousel").fadeOut(100);
            $("#showAudio").fadeOut(100);
            $("#showVideo").fadeOut(100);
            $('#btnFotografias').removeClass('active');
            $('#btnAudio').removeClass('active');
            $('#btnVideo').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        $('#btnFotografias').click(function (e) {
            $("#showCarousel").delay(100).fadeIn(100);
            $("#showAudio").fadeOut(100);
            $("#showDescricao").fadeOut(100);
            $("#showVideo").fadeOut(100);
            $('#btnAudio').removeClass('active');
            $('#btnVideo').removeClass('active');
            $('#btnDescricao').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        $('#btnAudio').click(function (e) {
            $("#showAudio").delay(100).fadeIn(100);
            $("#showVideo").fadeOut(100);
            $("#showCarousel").fadeOut(100);
            $("#showDescricao").fadeOut(100);
            $('#btnVideo').removeClass('active');
            $('#btnDescricao').removeClass('active');
            $('#btnFotografias').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        $('#btnVideo').click(function (e) {
            $("#showVideo").delay(100).fadeIn(100);
            $("#showCarousel").fadeOut(100);
            $("#showDescricao").fadeOut(100);
            $("#showAudio").fadeOut(100);
            $('#btnDescricao').removeClass('active');
            $('#btnFotografias').removeClass('active');
            $('#btnAudio').removeClass('active');
            $(this).addClass('active');
        });
        //FIM J QUERY BUTTONS

        //JQUERY BUTTONS ELEMENTOS

        $('#btnDescricaoElemento').click(function (e) {
            $("#showDescricaoElemento").delay(100).fadeIn(100);
            $("#showCarousel").fadeOut(100);
            $("#showAudio").fadeOut(100);
            $("#showVideo").fadeOut(100);
            $('#btnFotografias').removeClass('active');
            $('#btnAudio').removeClass('active');
            $('#btnVideo').removeClass('active');
            $("#showDescricao").fadeOut(100);
            $("#showCarouselElemento").fadeOut(100);
            $("#showAudioElemento").fadeOut(100);
            $("#showVideoElemento").fadeOut(100);
            $('#btnFotografiasElemento').removeClass('active');
            $('#btnAudioElemento').removeClass('active');
            $('#btnVideoElemento').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        $('#btnFotografiasElemento').click(function (e) {
            $("#showCarouselElemento").delay(100).fadeIn(100);
            $("#showAudio").fadeOut(100);
            $("#showDescricao").fadeOut(100);
            $("#showVideo").fadeOut(100);
            $('#btnAudio').removeClass('active');
            $('#btnVideo').removeClass('active');
            $('#btnDescricao').removeClass('active');
            $("#showAudioElemento").fadeOut(100);
            $("#showDescricaoElemento").fadeOut(100);
            $("#showVideoElemento").fadeOut(100);
            $('#btnAudioElemento').removeClass('active');
            $('#btnVideoElemento').removeClass('active');
            $('#btnDescricaoElemento').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        $('#btnAudioElemento').click(function (e) {
            $("#showAudioElemento").delay(100).fadeIn(100);
            $("#showVideo").fadeOut(100);
            $("#showCarousel").fadeOut(100);
            $("#showDescricao").fadeOut(100);
            $('#btnVideo').removeClass('active');
            $('#btnDescricao').removeClass('active');
            $('#btnFotografias').removeClass('active');
            $("#showVideoElemento").fadeOut(100);
            $("#showCarouselElemento").fadeOut(100);
            $("#showDescricaoElemento").fadeOut(100);
            $('#btnVideoElemento').removeClass('active');
            $('#btnDescricaoElemento').removeClass('active');
            $('#btnFotografiasElemento').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        $('#btnVideoElemento').click(function (e) {
            $("#showVideoElemento").delay(100).fadeIn(100);
            $("#showCarousel").fadeOut(100);
            $("#showDescricao").fadeOut(100);
            $("#showAudio").fadeOut(100);
            $('#btnDescricao').removeClass('active');
            $('#btnFotografias').removeClass('active');
            $('#btnAudio').removeClass('active');
            $("#showCarouselElemento").fadeOut(100);
            $("#showDescricaoElemento").fadeOut(100);
            $("#showAudioElemento").fadeOut(100);
            $('#btnDescricaoElemento').removeClass('active');
            $('#btnFotografiasElemento').removeClass('active');
            $('#btnAudioElemento').removeClass('active');
            $(this).addClass('active');
        });
        //FIM jQUERY BUTTONS ELEMENTOS
        //PAUSE DO AUDIO E VIDEO
        var audioElemento = document.getElementById("myaudioElemento");
        var audio = document.getElementById("myaudio");
        var vidElemento = document.getElementById("myvidElemento");
        var vid = document.getElementById("myvid");
        
        function pauseVidElemento() {
            vidElemento.pause();
        }
        function pauseAudioElemento() {
            audioElemento.pause();
        }
        function pauseVid() {
            vid.pause();
        }
        function pauseAudio() {
            audio.pause();
        }

        //FIM PAUSE DO AUDIO E VIDEO
        var mousetimeout;
        var screensaver_active = false;
        var idletime = 5;

        var screenSaver = $("#screenSaverForm");
        var formDiv = $("#bodyForm");

        function show_screensaver() {
            formDiv.fadeOut(100);
            screenSaver.fadeIn(900);
            screensaver_active = true;
        }

        function stop_screensaver() {
            screenSaver.fadeOut(100);
            formDiv.fadeIn(900);
            screensaver_active = false;
        }

        $(document).mousemove(function () {
            clearTimeout(mousetimeout);

            if (screensaver_active) {
                stop_screensaver();
            }

            mousetimeout = setTimeout(function () {
                show_screensaver();
            }, 1000 * idletime); // 5 secs          
        });


    </script>
        
}