@model PTurismo.Models.GaleriaPoi

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretender apagar?</h3>
<div>
    <h4>GaleriaPoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poi.nome)
        </dd>

        <dt>
            Media:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.media)
        </dd>

        <dt>
            Legenda:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.legenda)
        </dd>

        <dt>
            Tipo media:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoMedia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
