@model PTurismo.Models.Poi

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Poi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Categoria:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.nome)
        </dd>

        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            Latitude:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            Longitude:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            Descrição:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            Imagem:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagem)
        </dd>

        <dt>
            Resumo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resumo)
        </dd>
        <dt>
            Elementos:
        </dt>

        <dd>
           <table class="table">
               <tr>
                   <th>Elementos</th>
               </tr>
               @foreach (var item in Model.elementos)
               {
                   <tr>
                       <td>
                           @Html.DisplayFor(modelItem => item.nome)
                       </td>
                   </tr>
               }
           </table>
        </dd>
        <dt>
            Galeria do Poi
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Galerias</th>
                </tr>
                @foreach (var item in Model.galeriaPoi)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.legenda)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PoiID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
