@model PagedList.IPagedList<PTurismo.Models.Poi>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Pois";
}

<h2>Pontos de Interesse</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
@using (Html.BeginForm("Index", "Pois", FormMethod.Get))
{
    <p>
        Procurar por Nome ou Categoria: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Procurar" class="btn btn-danger" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Categoria", "Index", new { sortOrder = ViewBag.CategoriaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longitude
        </th>
        <th>
            Descrição
        </th>
        <th>
            Imagem
        </th>
        <th>
            Resumo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagemPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resumo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PoiID }) <br />
            @Html.ActionLink("Eliminar", "Delete", new { id=item.PoiID })
        </td>
    </tr>
}

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))