@model PTurismo.Models.Elemento

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Elemento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Poi:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poi.nome)
        </dd>

        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            Descrição:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            Imagem:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagem)
        </dd>
        <dt>
            Galeria elemento:
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Galeria</th>
                </tr>
                @foreach (var item in Model.galeriaElemento)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.legenda)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ElementoID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
