@model IEnumerable<PTurismo.Models.Elemento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Poi
        </th>
        <th>
            Nome
        </th>
        <th>
            Descrição
        </th>
        <th>
            Imagem
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.poi.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagem)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ElementoID }) <br />
            @Html.ActionLink("Detalhes", "Details", new { id=item.ElementoID }) <br />
            @Html.ActionLink("Apagar", "Delete", new { id=item.ElementoID })
        </td>
    </tr>
}

</table>
