@model PagedList.IPagedList<PTurismo.Models.Categoria>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
@using (Html.BeginForm("Index", "Categorias", FormMethod.Get))
{
    <p>
        Procurar por nome: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Procurar" class="btn btn-danger"/> 
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Genero", "Index",  new { sortOrder = ViewBag.GeneroSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CategoriaID }) <br />
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CategoriaID })
        </td>
    </tr>
}

</table>

<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))