@model PTurismo.Models.GaleriaElemento

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>GaleriaElemento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elemento.nome)
        </dd>

        <dt>
            Media:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.media)
        </dd>

        <dt>
            Legenda:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.legenda)
        </dd>

        <dt>
            Tipo media:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoMedia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.GaleriaElementoID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
