@model PTurismo.Models.GaleriaElemento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GaleriaElemento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Elemento.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elemento.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.media)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.media)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.legenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.legenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoMedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoMedia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GaleriaElementoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
